<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/index.css">
  <title>Home Page</title>
</head>
<body>
  <main class="container">
    <nav class="nav">
      <div class="nav-container">
        <div class="nav-logo">LOGO</div>
      <div class="nav-links">
        <div class="nav-link"><a href="/">HOME</a></div>
        <div class="nav-link"><a href="/about.html">ABOUT</a></div>
        <div class="nav-link"><a href="/error.html">ERROR</a></div>
      </div>
      </div>
    </nav>
      <div class="content">
      <h1>This is Home Page</h1>
    </div>
  </main>
</body>
<script>
  console.log("Hello World");
</script>
</html>